{
	"semi": false,
	"singleQuote": true,
	"endOfLine": "lf",
	"trailingComma": "none",
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": false,
	"bracketSpacing": true,
	"parsers": {
		".jsx": "flow",
		".scss": "scss",
		".ts": "typescript",
		".less": "css",
		".vue": "vue",
		".nvue": "vue",
		".ux": "vue",
		".yml": "yaml"
	}
}
